@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Benne';
  src: url('./fonts/Benne-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Benne', Arial, Helvetica, sans-serif; */
}
